@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');
body {
    margin: 0;
    font-family: Montserrat;
    background-image: url('back.jpg');
    height: 100vh;
    background-size: cover;
    background-position: 70% 70%;
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.tagline {
    margin-top: 2%;
    text-align: center;
    font-size: 1.4em;
    font-family: Montserrat;
    padding: 20px;
}

.joinus {
    text-align: center;
    color: black;
    border-radius: 0.7rem;
}

.subscribe {
    margin-left: 50px;
    text-align: center;
    color: whitesmoke;
    margin-right: 20px;
    border-radius: 0.7rem;
}

.join {
    margin-left: 50px;
    padding-top: 8rem;
    text-align: center;
    margin-top: 22%;
}

img {
    text-align: center;
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

.tag p {
    margin: 0;
    color: white;
    font-size: 1.5rem;
}

@media screen and (max-width: 700px) {
    body {
        font-size: 0.5em;
    }
    .tagline {
        margin-top: 0;
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    body {
        background-position: 55% 50%;
        overflow-y: scroll;
    }
    .tagline {
        margin-top: 0;
        font-size: 0.5em;
    }
    .tag p {
        font-size: 1rem;
    }
    .join {
        margin-top: 60%;
    }
    .logo {
        margin: 0;
        padding: 0;
        ;
    }
    .subscribe {
        margin: 15px;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}