:root {
	--alert-success-bg-color: #d4edda;
	--alert-success-text-color: #155724;
	--alert-danger-bg-color: #f5c6cb;
	--alert-danger-text-color: #721c24;
}

* {
	font-family: 'GlacialIndifferenceRegular';
}

/* ------------input---------------- */

input {
	border-bottom: none !important;
	padding-left: 14px !important;
	margin: 0 !important;
}

input:focus {
	border-bottom: none !important;
	box-shadow: none !important;
}

input[type="text"] {
	width: 100%;
	margin: 0;
	height: 1.6rem !important;
	padding: 14px !important;
}

input[type="email"] {
	padding-left: 14px !important;
	padding-top: 0 !important;
}

input#email.MuiInputBase-input.MuiOutlinedInput-input {
	margin: 0;
	height: 3.5rem;
}
input#password.MuiInputBase-input.MuiOutlinedInput-input {
	margin: 0;
	height: 3.5rem;
}

label + .MuiInput-formControl {
	margin-top: auto !important;
}

/* ------------------Navbar -------------------------*/

.logo {
	position: relative;
	width: 50px;
	height: 55px;
	margin-right: 50px;
	top: 3px;
}

nav ul a {
	font-size: 1.3em;
	letter-spacing: 0.05em;
	font-family: 'GlacialIndifferenceRegular';
	font-weight: 600;
	padding: 0 25px;
}

.navmenu ul li:nth-child(n + 2):hover {
	background: rgba(38, 39, 37, 0.6);
}

.dropdown-content li:hover,
.dropdown-content li:active {
	background-color: rgba(38, 39, 37, 0.6);
}
li a img {
	height: 55px;
}

.fnavbar {
	background-color: black;
}

nav {
	background-color: black;
}

.nav-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.break {
	margin-right: 50px;
}

.input-field:focus {
	background-color: black;
}

.sidenav li > a {
	color: white;
}

.sidenav {
	background-color: black;
}

#search-div {
	height: fit-content;
	width: 600px;
}

.sidenav {
	width: 55%;
}

/* ----------------------------------slider------------------------ */

.caption {
	margin-top: 2rem;
	padding: 5px;
}

.slider .slides li .caption {
	top: 7%;
	color: rgb(240, 243, 246);
}

.join-btn {
	margin-top: 68vh;
	font-size: 1.4em;
	font-family: 'GlacialIndifferenceBold';
	border-radius: 4px;
	border: 1.5px solid #fff;
	font-weight: 500;
	background-color: #0f0f0f;
	color: #ffffff;
}

.join-btn:hover {
	background-color: #080808;
}

.caption1 {
	margin: 0;
	font-size: 3.6em;
	padding: 15px;
	font-weight: 450;
}

.caption2 {
	display: none;
}

.caption2 {
	text-align: center;
	margin: 0;
	font-size: 2.8em;
	padding: 10px;
	font-weight: 450;
}

.slider .indicators .indicator-item.active {
	background-color: rgba(0, 0, 0, 0.6);
}

.text-block {
	margin-top: 1rem;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	position: absolute;
	top: 76%;
	left: 48%;
	margin: -100px 0 0 -121px;
	font-family: "GlacialIndifferenceBold";
	background: #1815156b;
	font-size: 1.2rem;
	font-weight: 900;
	border-radius: 45%;
}
.text-block p {
	font-size: 1.5rem;
}

.text-block1 {
	margin-top: 1rem;
	bottom: 24%;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5.5%;
	position: absolute;
	height: 6%;
	top: 70%;
	left: 48%;
	margin: -100px 0 0 -121px;
	font-family: "GlacialIndifferenceBold";
	background: #1815156b;
	font-size: 1.2rem;
	font-weight: 900;
	border-radius: 45%;
	display: none;
}
.text-block1 p {
	font-size: 1.5rem;
}

/* ----------seo---------- */

/* .tagline {
	padding: 20px;
}

.seo-tag1 {
	font-weight: 500;
	font-size: 3.3rem;
	padding: 5px;
}

.seo-tag2 {
	font-weight: 500;
	font-size: 2.7rem;
	padding: 5px;
} */

/*------------------------- tagline------------- */

.tagline {
	background-color: #0153a5;
	color: white;
	width: 100%;
	text-align: center;
	padding: 5px 15px;
	margin: 30px 0;
}

.tagline1 {
	font-family: 'GlacialIndifferenceBold';
	font-size: 3.4em;
	line-height: 1.7em;
	letter-spacing: 0.05rem;
	font-weight: 550;
}

.tagline2 {
	font-family: 'GlacialIndifferenceMedium';
	font-size: 2.45em;
	line-height: 1.6em;
	letter-spacing: 0.05rem;
	font-weight: 450;
}
.join-now-seo-btn {
	height: 16rem;
	width: 16rem;
	margin-bottom: -2.1rem;
	margin-top: -4rem;
}
/*-------------------------------------------------------------------------------- */

.material-icons {
	font-size: 20px;
	margin: 0;
}

/* ---------------review-------------- */

.reviewhead {
	position: absolute;
	text-align: center;
	width: 40%;
	margin: 0.5rem 30%;
	font-size: 3em;
}

.offeringhead {
	color: #0153a5;
	font-family: 'GlacialIndifferenceBold';
	padding: 20px;
	font-size: 3.5em;
	text-transform: uppercase;
}

.card-panel {
	background-color: rgba(0, 0, 0, 0.85);
}

/*-------------------------------------------------- subscribe------------------- */

.subscribe {
	font-family: 'GlacialIndifferenceRegular';
	letter-spacing: 0.07em;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 10px;
}

.signup-button {
	background-color: white;
	color: black;
	margin-top: 0;
	font-size: 1.1rem;
	font-weight: 600;
	transition-duration: 0.4s;
	border-radius: 5px;
	height: 3.4rem;
}

.signup-button:hover {
	background-color: grey;
}

.MuiOutlinedInput-root {
	background-color: aliceblue;
}

.MuiInputLabel-shrink {
	color: rgba(155, 146, 22, 0.76) !important;
}

.subscribe-area {
	margin: auto 5.25rem !important;
	padding: 20px;
}

.desktop-hide {
	display: None;
}

/*--------------------- Featured------------ */

.card-h {
	height: 380px;
	margin: .5% 6%;
}

.featuredimg {
	width: 100%;
	height: 320px;
	border-radius: 5px;
}

.featured-container {
	margin: 1% 10%;
}

.featuredName {
	text-transform: uppercase;
	padding: 5px;
	color: #0153a5;
	font-size: 1.9em;
	line-height: 1.2em;
	font-family: 'GlacialIndifferenceBold';
}

.featuredDetails {
	margin-top: 1.5em;
	font-size: 1.5em;
	padding: 5px;
	font-family: 'GlacialIndifferenceBold';
	color: #080808d9;
}

.featured-right {
	margin-top: 1em;
	padding-left: '25px';
	height: 350px;
}

.featured-mobile {
	display: none;
}

.featured-brief {
	padding: 5px;
	font-family: 'GlacialIndifferenceMedium';
	font-size: 1.5em;
}

.detail-hover:hover {
	border-bottom: #080808d9 2px solid;
}
/* ---about */
.aboutus {
	font-size: 1.8em;
	padding: 5px;
}
.aboutus-bold {
	font-size: 1.8em;
	font-weight: 600;
	padding: 5px;
}
.about-subhead {
	font-size: 2.5em;
	color: #0153a5;
	font-weight: 500;
	padding: 10px 5px;
}

/* ----------Footer------------- */
#footer2 {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.footer-two {
	background: #080808;
	padding: 5px 30px;
	font-size: medium;
	text-align: center;
}

.copyright {
	display: inline-block;
	top: 4px;
	position: relative;
	text-align: center;
	color: white;
}

.social {
	position: relative;
	margin: auto 10px;
	top: 15px;
	width: 35px;
	height: 35px;
}

/* ------------startup page---------------------------- */

.side-bar {
	position: fixed;
	z-index: 1;
	width: 400px;
}

.post-image {
	border-radius: 5px;
	height: 47vh;
	width: 100%;
	text-align: center;
}

.post-container {
	margin: 0 10%;
}

.post-content {
	margin: auto;
}

.post-brief {
	font-size: 2.1vh;
	font-family: 'GlacialIndifferenceMedium';
}
.read-more {
	background-color: #080808d9;
	margin-top: 2em;
	font-family: 'GlacialIndifferenceBold';
}
.read-more:hover {
	background-color: #c1c1c1;
	color: #080808d9;
}

.tabContainer {
	margin-top: 1rem;
	width: 99%;
	-moz-box-shadow: 2px 2px 5px 1px #888;
	-webkit-box-shadow: 2px 2px 5px 1px #888;
	box-shadow: 2px 2px 5px 1px #888;
}
.landing-head {
	font-family: 'GlacialIndifferenceBold';
	font-size: 3em;
	text-transform: uppercase;
}

.landing-post-head {
	font-size: 2.3em;
	font-family: 'GlacialIndifferenceBold';
}

.sidebar-button {
	width: 50%;
	float: left;
	text-align: center;
	padding: 10px;
	font-size: 18px;
	background-color: #000000;
	color: white;
	margin-top: 0;
}

.sidebar-button:hover {
	background-color: rgba(15, 15, 15, 0.87);
	color: white;
}

.tabPanel {
	background-color: rgb(235, 238, 231);
	color: black;
	font-size: 18px;
	padding: 5px;
}

.latest-content {
	display: none;
}

.editorpickactive {
	box-shadow: inset 0 -3px 0 white;
}

/* -------------about dialog----------- */

.MuiDialogActions-root {
	justify-content: center !important;
}

.MuiPaper-root {
	background-color: black !important;
	color: white !important;
}

.MuiPaper-rounded {
	border-radius: 8px !important;
}

.MuiTypography-h6 {
	font-size: 1.5rem !important;
}

/* --------------dashboard--------------- */

.dash-content {
	padding: 20px;
	font-size: 1.2rem;
	font-weight: 300;
}

.dash {
	padding: 0 !important;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 5px 1px #888;
	-webkit-box-shadow: 2px 2px 5px 1px #888;
	box-shadow: 2px 2px 5px 1px #888;
	height: 340px;
	margin-right: 4.1%;
	margin-bottom: 2%;
}

/* --------------articles------------------ */

.article-head {
	font-size: 3.2em;
	font-weight: 450;
}

.article-subhead {
	font-size: 2.3em;
	font-weight: 450;
	margin: 5px 0;
}

.article-content {
	font-size: 1.3em;
	letter-spacing: 0.02em;
}

.img-container {
	padding: 5px;
}

.article-img {
	width: 85%;
}

.article-img-desc {
	font-size: 1.1em;
	font-weight: 450;
}

.references ol a {
	width: 100%;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/* ------brief details */

.brief-image {
	height: 50vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

.mobile-brief-details {
	display: none;
}

/* privacy */

.privacy-top {
	font-weight: 450;
	padding: 15px;
}

.privacy-head {
	font-size: 2em;
	padding: 5px 0;
	font-weight: 450;
}

/* ------------------------People-------------------------*/
/* ------------------------People-------------------------*/
.hirenow-btn {
	font-family: 'GlacialIndifferenceBold';
	border-radius: 4px;
	font-weight: 300;
	background-color: #0f0f0f;
	color: #ffffff;
}
.hirenow-btn:hover {
	background-color: #080808d9;
}

.register-job {
	font-family: 'GlacialIndifferenceBold';
	border-radius: 4px;
	background-color: #0f0f0f;
	color: #ffffff;
	position: relative;
	top: -2em;
	margin: 0;
}
.register-job:hover {
	background-color: #61383b;
}
.hire-btn1 {
	font-family: 'GlacialIndifferenceBold';
	border-radius: 4px;
	font-weight: 300;
	background-color: #0f0f0f;
	color: #ffffff;
	width: 7em;
	padding-top: 0%;
}
.hire-btn1:hover {
	background-color: #080808;
}

.card-image {
	padding: 0.6rem;
}
.card1 {
	height: 7rem;
}
.userimg {
	height: 10rem;
	width: 10rem;
}
/* jpbprofile screen */
.job-link-icons {
	position: relative;
	padding-right: 10px;
	vertical-align: middle;
	font-size: large;
}

.profile-container {
	margin-top: 2%;
}
.profile-section {
	padding: 3px 0;
}
.premium-offering-container {
	margin: 3%;
}
.link-container {
	font-size: 1.5em;
	margin-left: 15%;
	margin-top: 15%;
}
.job-userdetails-container {
	margin-left: 20%;
}

/*-------------------Products--------------------------*/
.product-page-head {
	font-size: 2em;
	font-family: 'GlacialIndifferenceBold';
	text-align: center;
	text-transform: uppercase;
	padding: 15px;
}
.add-mobile {
	display: none;
}
.left-head {
	text-align: left;
}
.product-job-page-container {
	margin: 0 10%;
}
.product-list-link {
	padding-top: 2px;
	font-size: 1.3em;
}
.relative-add {
	position: relative;
	height: 5em;
}
.pro-btn1 {
	top: -3.1em;
	font-family: 'GlacialIndifferenceBold';
	font-size: 1.2em;
	border-radius: 4px;
	background-color: #0f0f0f;
	color: #ffffff;
	padding: 0 20px;
}
.pro-btn1:hover {
	background-color: #080808;
}
.productdetails-container {
	margin-top: 3%;
}

.product-container {
	border-radius: '5px';
	height: auto;
	padding: 10px 5px;
}
.comment-container {
	max-height: 5em;
	padding: 10px 0;
}

.pro-img {
	height: 100px !important;
	width: 100px !important;
	border-radius: 5px;
}
.product-head {
	font-family: 'GlacialIndifferenceBold';
	padding: 10px 0;
	font-size: 2.4em;
	font-weight: 600;
	line-height: .5em;
}
.product-subhead {
	font-family: 'GlacialIndifferenceBold';
	font-size: 1.9em;
	line-height: 0.3em;
	font-weight: 500;
}
.product-content {
	font-family: 'GlacialIndifferenceMedium';
	font-size: 1.5em;
}
.product-desc {
	font-size: 1.23em;
	padding: 2px 0;
	max-height: 2.5em;
	text-overflow: ellipsis;
	overflow: hidden;
}
.product-link-container {
	margin-bottom: 0 !important;
}
.comment-box {
	margin-top: 8px;
	float: right;
}
.comment-count {
	position: relative;
	top: -3px;
	font-size: 16px;
	font-weight: 600;
}
.upvote-container {
	border: .2em solid black;
	border-radius: 8px;
	cursor: pointer;
	text-align: center;
	color: #080808d9;
}
.upvote-container:hover {
	background-color: #f3efef;
}
.upvote-count {
	font-size: 1.5em;
	text-align: center;
	position: relative;
	top: -1em;
}
.product-right-container {
	padding-left: 8%;
	width: 90%;
}
.product-details-right-container {
	padding: 0 3%;
}
.product-link {
	font-size: 1.25em;
	padding: 2px 0;
	text-overflow: ellipsis;
	overflow: hidden;
}
.product-comment {
	font-weight: 800 !important;
	letter-spacing: 0.03em;
}
.links {
	color: #080808d9;
	max-width: 80%;
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
	vertical-align: middle;
}
.links:hover {
	text-decoration: underline;
}
.hire-connect-btn {
	margin-top: 10px;
	font-family: 'GlacialIndifferenceBold';
	width: 8em;
	padding-top: 2px;
	display: inline-block;
	border-radius: 30px;
	text-align: center;
	background-color: white;
	color: black;
}
.hire-connect-btn:hover {
	background-color: #c1c1c1;
}
.contact-container {
	margin-top: 15%;
	margin-left: 17%;
}
.details-page-logo {
	width: 200px;
	height: 200px;
	border-radius: 7px;
}
/*---------------------comment------------------*/
.addComment {
	background-color: #080808d9;
}
.comment-btn1 {
	display: inline-block;
	border-radius: 30px;
	padding: 4px 10px;
	text-align: center;
	font-weight: 300;
	background-color: white;
	color: black;
}
.comment-btn1:hover {
	background-color: #c1c1c1;
}
.visit-btn {
	display: inline-block;
	border-radius: 30px;
	vertical-align: middle;
	padding: 4px 10px;
	letter-spacing: .1em;
	text-align: center;
	text-transform: capitalize;
	background-color: white;
	color: black;
}
.visit-btn:hover {
	background-color: #c1c1c1;
}
.comment-head {
	color: #080808d9;
}
.comment-head:hover {
	text-decoration: underline;
}
.comment {
	margin: 0 !important;
	padding: 0 !important;
}
.comment-body {
	min-height: 2px !important;
	padding-left: 50px;
}
/* ----------------alert-------------- */
.alert {
	margin-top: 40px;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	position: fixed;
	top: 1.5em;
	margin-right: 40%;
	margin-left: 40%;
	width: 20%;
	font-size: 2em;
}

.alert-success {
	background-color: var(--alert-success-bg-color);
	color: var(--alert-success-text-color);
}

.alert-danger {
	background-color: var(--alert-danger-bg-color);
	color: var(--alert-danger-text-color);
}

/* ------------------mobile----------------------------------- 
---------------------view--------------------------------
*/

@media only screen and (max-width: 992px) {
	.nav-center {
		display: inline;
		justify-content: left;
		align-items: left;
	}
	.nav-wrapper {
		margin: 0 15px;
	}
	.login-mob {
		display: block;
	}
	#search-icon {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.nav-center {
		display: inline;
		justify-content: left;
		align-items: left;
	}
	.nav-wrapper {
		margin: 0 15px;
	}
	.login-mob {
		display: block;
	}
	#search-icon {
		display: none;
	}
}

@media only screen and (max-width: 500px) {
	.text-block {
		display: none;
	}
	.text-block1 {
		margin-top: 1rem;
		bottom: 24%;
		color: white;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 5.5%;
		position: absolute;
		height: 10%;
		left: 48%;
		margin: -100px 0 0 -121px;
		font-family: "GlacialIndifferenceBold";
		background: #1815156b;
		font-size: 1.2rem;
		font-weight: 900;
		border-radius: 45%;
		display: block;
	}

	.text-block1 p {
		font-size: 1.5rem;
	}

	.nav-center {
		display: inline;
		justify-content: left;
		align-items: left;
	}
	.brand-logo {
		top: 0;
		margin-left: 0 !important;
	}
	.login-mob {
		display: block;
	}
	.nav-wrapper {
		margin: 0 10px;
	}
	.search {
		text-align: end;
	}
	#search-icon {
		display: none;
	}
	.mobile {
		display: block;
	}
	.mobile1 {
		display: none;
	}
	/* ----------------------------------slider------------------------ */
	.slider .slides li .caption {
		margin: 0;
		left: 5%;
		width: 90%;
		top: 3rem;
	}
	/* ---- */
	.join-btn {
		margin-top: 64vh;
		font-size: 1.1em;
	}
	/* -------seo----- */
	.tagline {
		padding: 0 6px;
	}
	.seo-tag1 {
		font-size: 2.2rem;
	}
	.seo-tag2 {
		font-size: 2.2rem;
	}
	/* ----new post */
	.newPost {
		padding: 5px;
		margin: 10px 0;
	}
	.tagline1 {
		font-size: 2em;
		letter-spacing: 0.015rem;
		padding: 10px 5px;
	}
	.tagline2 {
		font-size: 1.65em;
		letter-spacing: 0.01em;
		padding: 7px 5px;
	}

	.join-now-seo-btn {
		margin-bottom: -2.1rem;
		margin-top: -6.5rem;
	}
	/* ---review---- */
	.reviewhead {
		position: absolute;
		text-align: center;
		width: 100%;
		margin: 0;
		padding: 10px 15px;
		font-size: 2.5em;
	}
	.offeringhead {
		font-size: 2.3em;
	}
	/* ----- */
	.footer-text {
		font-size: 0.6em;
	}
	.social {
		width: 20px;
		height: 20px;
		margin: auto 4px;
	}
	.copyright {
		top: 1px;
		font-size: 0.6em;
	}
	.subscribe-area {
		height: 20px;
		margin: 0 !important;
	}
	.signup-button {
		display: flex;
		margin: 1rem auto;
		align-items: center;
		font-size: 1rem;
	}
	.side-bar {
		position: relative;
	}
	.dash {
		height: auto;
		margin: 4%;
	}
	.post-container {
		margin: auto;
	}
	.post-image {
		height: 220px;
		width: 100%;
	}
	.landing-post-head {
		font-size: 1.6em;
	}
	.landing-head {
		font-size: 2em;
	}
	.post-brief {
		font-size: 1.05em;
	}
	/* ---articles */
	.article-head {
		font-size: 2.3em;
		padding: 5px;
	}
	.article-subhead {
		font-size: 1.8em;
	}
	.article-content {
		font-size: 1.2em;
		letter-spacing: 0.02em;
	}
	.article-img {
		height: 250px;
	}
	.article-img-desc {
		font-size: 1em;
	}
	/* ------About us--------- */
	.aboutus {
		font-size: 1.5em;
		padding: 3px;
	}
	.aboutus-bold {
		font-size: 1.5em;
		padding: 3px;
	}
	.about-subhead {
		font-size: 2em;
		padding: 5px 3px;
	}

	/* -----featured------- */
	.card-h {
		height: fit-content;
		margin: 2%;
		margin-bottom: 13%;
	}
	.featuredimg {
		width: 100%;
		height: 210px;
		padding-right: 0;
	}
	.featured-container {
		margin: 0;
	}
	.featuredName {
		padding: 5px;
		font-size: 1.4em;
		line-height: 1em;
	}
	.featuredDetails {
		margin-top: 0;
		font-size: 1.2em;
	}
	.featured-right {
		margin-top: 0;
		padding-left: 0;
		height: fit-content;
	}
	.featured-brief {
		font-size: 1.3em;
		line-height: 1.4em;
	}
	.featured-mobile {
		display: block;
	}
	.featured-desktop {
		display: none;
	}
	/* -------------------\ */
	.desktop-brief-details {
		display: none;
	}
	.mobile-brief-details {
		display: block;
	}
	.mobile-hide {
		display: none;
	}
	.desktop-hide {
		display: block;
	}
	/* ------------product page */
	.product-job-page-container {
		margin: 0 1%;
	}
	.pro-btn1 {
		font-size: 1em;
		top: -3.4em;
		padding: 0 10px;
	}
	.add-mobile-btn {
		display: none;
	}

	.add-mobile {
		display: block;
		border-radius: 50% !important;
	}

	.product-right-container {
		padding-left: 10%;
		width: 85%;
	}
	.pro-img {
		height: 75px !important;
		width: 75px !important;
	}
	.product-desc {
		font-size: 1.05em;
		padding: 0;
		white-space: nowrap;
	}
	.product-name {
		font-size: 1.3em;
	}
	.product-link {
		font-size: 1.2em;
		padding: 0;
	}
	.product-page-head {
		font-size: 1.7em;
		padding: 20px 10px;
		text-align: center;
	}
	/* .product-head {
		font-size: 2.4em;
		line-height: .5em;
	}
	.product-subhead {
		font-size: 1.9em;
		line-height: 0.3em;
		font-weight: 500;
	}
	.product-content {
		font-size: 1.5em;
	} */
	.comment-head {
		font-size: 1.2em;
	}
	.comment-box {
		padding-top: 0;
		margin-top: 5px;
		padding-bottom: 0;
	}
	.visit-btn {
		font-weight: 800;
		line-height: 2em;
		height: 2em;
	}
	.comment-count {
		font-size: 14px;
	}
	.comment-container {
		margin-top: 3px;
		height: auto;
		display: none;
	}
	.upvote-container {
		border-radius: 8px;
		top: 5px !important;
		right: 10px !important;
	}
	.details-page-logo {
		height: 150px;
		width: 150px;
	}
	.link-container {
		margin-left: 10%;
		margin-top: 2%;
	}
	.contact-container {
		margin-top: 8%;
		margin-left: 12%;
	}
	.profile-container {
		margin-top: 5%;
		margin: 5%;
	}
	.premium-offering-container {
		margin: 1%;
		text-align: left;
	}
	.job-userdetails-container {
		margin-left: 10%;
		margin-top: 5%;
	}
	.product-details-right-container {
		padding: 0 5%;
	}
	.upvote-count {
		font-size: 1.3em;
		top: -0.6em;
	}
	.upvote-icon {
		font-size: 3.2em !important;
	}

	.product-comment {
		font-weight: 800 !important;
		letter-spacing: 0.03em;
	}
	.links {
		max-width: 80%;
	}

	/*---------------------comment------------------*/
	.comment-btn1 {
		display: inline-block;
		border-radius: 30px;
		padding: 4px 10px;
		text-align: center;
		font-weight: 300;
		background-color: #080808d9;
		color: #ffffff;
	}
	.comment-btn1:hover {
		background-color: #080808;
	}
	.comment {
		margin: 0 !important;
		padding: 0 !important;
	}
	.comment-body {
		min-height: 2px !important;
		padding-left: 50px;
	}
}
