input {
  border-bottom: none !important;
}

input:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}

input[type="text"] {
  height: 1.2em !important;
  padding: 14px !important;
}

label+.MuiInput-formControl {
  margin-top: 0 !important;
}

/* ------------------Navbar -------------------------*/

.logo {
  position: relative;
  width: 50px;
  height: 55px;
  margin-right: 45px;
  top: 5px;
}

nav ul a {
  font-size: 1.3rem;
  padding: 0 20px;
}

.nav-wrapper ul li:nth-child(n + 2):hover {
  background: rgba(38, 39, 37, 0.6);
}

li a img {
  height: 55px;
}

.fnavbar {
  background-color: black;
}

nav {
  background-color: black;
}

.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.break {
  margin-right: 50px;
}

.input-field:focus {
  background-color: black;
}

.sidenav li>a {
  color: white;
}

.sidenav {
  background-color: black;
}

#search-div {
  height: fit-content;
  width: 600px;
}

.sidenav {
  width: 55%;
}

/* ----------------------------------slider------------------------ */

.caption {
  margin-top: 2rem;
  padding: 5px;
}

.slider .slides li .caption {
  top: 7%;
  color: rgb(240, 243, 246);
}

.caption1 {
  margin: 0;
  font-size: 3.6em;
  padding: 15px;
  font-weight: 450;
}

.caption2 {
  display: none;
}

.caption2 {
  text-align: center;
  margin: 0;
  font-size: 2.8em;
  padding: 10px;
  font-weight: 450;
}

.slider .indicators .indicator-item.active {
  background-color: rgba(0, 0, 0, 0.6);
}

/* ----------seo---------- */

.tagline {
  padding: 20px;
}

.seo-tag1 {
  font-weight: 500;
  font-size: 3.3rem;
  padding: 5px;
}

.seo-tag2 {
  font-weight: 450;
  font-size: 2.3rem;
  padding: 5px;
}

/*------------------------- New Post------------- */

.newPost {
  color: white;
  width: 100%;
  text-align: center;
  padding: 5px 15px;
  margin: 30px 0;
  background-color: black;
}

.tagline1 {
  font-size: 2.6rem;
  letter-spacing: 0.05rem;
  font-weight: 450;
  padding: 1.2em;
}

/*-------------------------------------------------------------------------------- */

.material-icons {
  font-size: 20px;
  margin: 0;
}

/* ---------------review-------------- */

.reviewhead {
  position: absolute;
  text-align: center;
  width: 40%;
  margin: 0.5rem 30%;
  font-size: 3em;
}

.offeringhead {
  text-align: center;
  font-size: 3rem;
  padding: 15px;
}

.card-panel {
  background-color: rgba(0, 0, 0, 0.85);
}

/*-------------------------------------------------- subscribe------------------- */

.subscribe {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px;
}

.signup-button {
  background-color: white;
  color: black;
  margin-top: 0;
  font-size: 1.1rem;
  font-weight: 600;
  transition-duration: 0.4s;
  border-radius: 5px;
  height: 3.3em;
}

.signup-button:hover {
  background-color: grey;
}

.MuiOutlinedInput-root {
  background-color: aliceblue;
}

.MuiInputLabel-shrink {
  color: rgba(155, 146, 22, 0.76) !important;
}

.subscribe-area {
  margin: auto 5.25rem !important;
  padding: 20px;
}

/*--------------------- Featured------------ */

.card-h {
  height: 400px;
}

.card-img {
  height: 310px;
}

/* ----------Footer------------- */

.footer-two {
  background: #080808;
  padding: 5px 30px;
  font-size: medium;
}

.copyright {
  display: inline-block;
  top: 4px;
  position: relative;
  text-align: center;
  color: white;
}

.social {
  position: relative;
  margin: auto 5px;
  top: 4px;
  width: 20px;
  height: 20px;
}

/* ------------startup page---------------------------- */

.side-bar {
  position: fixed;
  z-index: 1;
  width: 400px;
}

.post-image {
  height: 350px;
  width: 100%;
}

.post-content {
  margin: auto;
}

.tabContainer {
  margin-top: 1rem;
  width: 99%;
  -moz-box-shadow: 2px 2px 5px 1px #888;
  -webkit-box-shadow: 2px 2px 5px 1px #888;
  box-shadow: 2px 2px 5px 1px #888;
}

.sidebar-button {
  width: 50%;
  float: left;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  background-color: #000000;
  color: white;
  margin-top: 0;
}

.sidebar-button:hover {
  background-color: rgba(15, 15, 15, 0.87);
  color: white;
}

.tabPanel {
  background-color: rgb(235, 238, 231);
  color: black;
  font-size: 18px;
  padding: 5px;
}

.latest-content {
  display: none;
}

.editorpickactive {
  box-shadow: inset 0 -3px 0 white;
}

/* -------------about dialog----------- */

.MuiDialogActions-root {
  justify-content: center !important;
}

.MuiPaper-root {
  background-color: black !important;
  color: white !important;
}

.MuiPaper-rounded {
  border-radius: 8px !important;
}

.MuiTypography-h6 {
  font-size: 1.5rem !important;
}

/* --------------dashboard--------------- */

.dash-content {
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 300;
}

.dash {
  padding: 0!important;
  border-radius: 10px;
  -moz-box-shadow: 2px 2px 5px 1px #888;
  -webkit-box-shadow: 2px 2px 5px 1px #888;
  box-shadow: 2px 2px 5px 1px #888;
  height: 340px;
  margin-right: 4.1%;
  margin-bottom: 2%;
}

/* --------------articles------------------ */

.article-head {
  font-size: 3.2em;
  font-weight: 450;
}

.article-subhead {
  font-size: 2.3em;
  font-weight: 450;
  margin: 5px 0;
}

.article-content {
  font-size: 1.3em;
  letter-spacing: 0.02em;
}

.img-container {
  padding: 5px;
}

.article-img {
  width: 85%;
}

.article-img-desc {
  font-size: 1.1em;
  font-weight: 450;
}

/* privacy */

.privacy-top {
  font-weight: 450;
  padding: 15px;
}

.privacy-head {
  font-size: 2em;
  padding: 5px 0;
  font-weight: 450;
}

/* ------------------mobile----------------------------------- 
---------------------view--------------------------------
*/

@media only screen and (max-width: 992px) {
  .nav-center {
    display: inline;
    justify-content: left;
    align-items: left;
  }
  .nav-wrapper {
    margin: 0 15px;
  }
  .login-mob {
    display: block;
  }
  #search-icon {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .nav-center {
    display: inline;
    justify-content: left;
    align-items: left;
  }
  .nav-wrapper {
    margin: 0 15px;
  }
  .login-mob {
    display: block;
  }
  #search-icon {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .nav-center {
    display: inline;
    justify-content: left;
    align-items: left;
  }
  .logo {
    top: 0;
  }
  .login-mob {
    display: block;
  }
  .nav-wrapper {
    margin: 0 10px;
  }
  .search {
    text-align: end;
  }
  #search-icon {
    display: none;
  }
  /* ----------------------------------slider------------------------ */
  .slider .slides li .caption {
    margin: 0;
    left: 5%;
    width: 90%;
    top: 3rem;
  }
  /* -------seo----- */
  .tagline {
    padding: 0 6px;
  }
  .seo-tag1 {
    font-size: 2.2rem;
  }
  .seo-tag2 {
    font-size: 2.2rem;
  }
  /* ----new post */
  .newPost {
    padding: 5px;
    margin: 10px 0;
  }
  .tagline1 {
    font-size: 2.1rem;
    letter-spacing: 0.01rem;
    padding: 15px 5px;
  }
  /* ---review---- */
  .reviewhead {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 10px 15px;
    font-size: 2.5em;
  }
  /* ----- */
  .footer-text {
    font-size: 0.6em;
  }
  .social {
    width: 15px;
    height: 20px;
    margin: auto 3px;
  }
  .copyright {
    top: 1px;
    font-size: 0.6em;
  }
  .subscribe-area {
    margin: 0!important;
  }
  .signup-button {
    display: flex;
    margin: 1rem auto;
    align-items: center;
    font-size: 1rem;
  }
  .side-bar {
    position: relative;
  }
  .dash {
    height: auto;
    margin: 4%;
  }
}