/* ------------------Navbar -------------------------*/

.logo {
  position: relative;
  width: 50px;
  margin-right: 30px;
  top: 6px;
}

nav ul a {
  font-size: 1.1rem;
}

nav ul li:nth-child(n+2):hover {
  background-color: rgba(47, 34, 34, 0.911);
}

li a img {
  height: 50px;
}

.fnavbar {
  background-color: black;
  text-align: center;
}

nav {
  background-color: black;
}

.nav-wrapper {
  margin: 0 19%;
}

.break {
  margin-right: 40px;
}

.input-field:focus {
  background-color: black;
}

.sidenav li>a {
  color: white;
}

.sidenav {
  background-color: black;
}

.MuiDivider-root {
  background-color: grey !important;
  width: 40%;
  text-align: left;
  margin: 3% 30% !important;
}

.sidenav {
  width: auto;
}

/* ----------------------------------slider------------------------ */

.readmore:hover {
  color: rgb(175, 128, 57);
}

.readmore {
  color: grey;
  font-size: 18px;
  text-decoration: none;
}

/*------------------------- New Post------------- */

.newPost {
  color: white;
  width: 100%;
  padding: 15px;
}

.newPost h2 {
  letter-spacing: 0.05rem;
}

.newPost .btn {
  background-color: black;
  font-size: large;
  font-weight: 500;
}

.addpost {
  border-bottom: 1.5px solid white;
  padding-bottom: 1px;
}

.addpost:hover {
  color: rgb(175, 128, 57);
  border-bottom: 1.5px solid rgb(175, 128, 57);
}

/*-------------------------------------------------------------------------------- */

.material-icons {
  font-size: 20px;
  margin: 0;
}

/*-------------------------------------------------- subscribe------------------- */

.subscribe {
  background-color: black;
  padding: 10px;
  color: white;
}

.signup-button {
  background-color: white;
  color: black;
  margin-top: 0;
  font-size: 1.1rem;
  font-weight: 600;
  transition-duration: 0.4s;
  border-radius: 5px;
  height: 3.1rem;
}

.signup-button:hover {
  background-color: grey;
}

#email {
  border: 1.5px solid rgb(248, 248, 245);
  border-radius: 5px;
  padding-left: 6px;
}

.input-text {
  color: white;
  margin: 0;
}

/* ----------Footer------------- */

.footer-one {
  background: #000000;
}

.footer-two {
  background: #080808;
  padding: 3px 30px;
  font-size: medium;
}

.copyright {
  display: inline-block;
  top: 4px;
  position: relative;
  text-align: center;
  color: white;
}

.fb {
  margin: 0 5px;
  width: 20px;
  height: 20px;
}

.li {
  margin: 0 5px;
  width: 20px;
  height: 20px;
}

.twi {
  margin: 0 5px;
  width: 20px;
  height: 20px;
}

/* ----------------------------------------------------- */

@media only screen and (max-width: 992px) {
  .nav-wrapper {
    margin: 0 15px;
  }
}

@media only screen and (max-width: 600px) {
  .nav-wrapper {
    margin: 0 10px;
  }
}